:root{
  --main : rgb(65, 141, 223);
}

* {
  padding: 0;
  margin: 0;
}

body{
  background-color: #ddd;
}

input{
  border: 1px solid var(--main);
  padding: 10px 20px;
  border-radius: 7px;
}

select{
  border: 1px solid var(--main);
  padding: 10px 20px;
  width: 245px;
  border-radius: 7px;
}

button {
  background-color: var(--main);
  color: white;
  border: 1px solid var(--main);
  padding: 7px 15px;
  min-width: 70px;
  border-radius: 7px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

button:hover{
  background-color: white;
  color: var(--main);
}

a{
  color: black;
  text-decoration: none;
}

#sideBar-container{
  background-color: white;
  border-radius: 10px;
  width: 20%;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  float: right;
}

#sideBar-container > h2{
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: var(--main);
}

#sideBar-container > a{
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  transition: background-color .2s ease-in-out;
}

#sideBar-container > a:hover{
  background-color: #ededed;
}

#sideBar-container > a:last-child{
  color: red;
}

#sideBar-container > a:last-child:hover{
  background-color: rgb(249, 235, 235);
}

.err{
  background-color: rgb(228, 210, 210);
  border: 1px solid red;
  color: red;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
}

.del-btn{
  background-color: red;
  border: 1px solid red;
}

.del-btn:hover{
  background-color: transparent;
  color: red;
}

.btn{
  background-color: var(--main);
  color: white;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 5px;
}