{
    "port" : PORT,
    "secret" : "SECRET",

    "db" : {
        "name" : "NAME",
        "username" : "USERNAME",
        "password" : "PASSWORD",
        "host" : "HOST",
        "dialect" : "DIALECT"
    },

    "apis" : {
        "send" : "SEND_MESSAGE_API"
    },

    "smsCodes" : {
        "submitOwnershipRequest" : SMS_CODE,
        "ownershipTransfered" : SMS_CODE,
        "sendOwnershipCode" : SMS_CODE
    }
}